{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}A developers diary{% endblock %}</title> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Lato|Montserrat|Merriweather">
    <link rel="stylesheet" href="{% static 'global.css' %}">
</head>
<header>
    {% include 'navbar.html' %}
    {% include 'searchbar.html' %}
</header>

<body>
    
    <hr>
    <div class="content"></div>
    {% block content %}
    

    
    {% endblock%}
    </div>
    <hr>

    
</body>

<footer>
    {% include 'footer.html' %}
</footer>

</html>